---
layout: page
title: Archive
permalink: /archive/
---
<p>{{ site.posts.size }} posts, newest first. Looking for a topic? Try the <a href="{{ '/tags/' | relative_url }}">tags</a> or <a href="{{ '/search/' | relative_url }}">search</a>.</p>

{% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
{% for year in posts_by_year %}
<h2 id="y{{ year.name }}">{{ year.name }}</h2>
<ul class="archive-list">
  {% for post in year.items %}
  <li>
    <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d" }}</time>
    <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
  </li>
  {% endfor %}
</ul>
{% endfor %}
