---
layout: page
title: Tags
permalink: /tags/
---
{% assign sorted_tags = site.tags | sort %}
<p class="tag-cloud">
  {% for tag in sorted_tags %}<a class="tag" href="#{{ tag[0] | slugify }}">{{ tag[0] | escape }}<span class="tag-count">{{ tag[1].size }}</span></a> {% endfor %}
</p>
<p><a id="tag-show-all" href="{{ '/tags/' | relative_url }}" hidden>&laquo; Show all tags</a></p>

{% for tag in sorted_tags %}
<section class="tag-section" id="{{ tag[0] | slugify }}">
  <h2>{{ tag[0] | escape }}</h2>
  <ul class="archive-list">
    {% for post in tag[1] %}
    <li>
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
      <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endfor %}
